<div ng-controller="toggleMenu" layout="column"  ng-cloak>
 <md-toolbar class="tool md-hue-2" style="background-color: #1EB4DC;">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Friends</h2>

      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">
          search
        </md-icon>
      </md-button>

      <md-button class="md-icon-button" aria-label="more">
        <md-icon class="favorite-icon material-icons">
          more_vert
        </md-icon>
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Menu
      </md-button>
    </div>
  </md-toolbar>
</div>

<div>

</div>

<div ng-controller="controlador">
    <form name="myForm">
      <md-input-container>
        <label for="">Nombre</label>
        <input type="text" ng-model="friendsController.data.titulo" required>
      </md-input-container>
      <md-input-container>
        <label for="">Descripcion</label>
        <input type="text" ng-model="friendsController.data.descripcion" required>
      </md-input-container>
      <md-input-container>
        <md-button ng-click="friendsController.submit()">
          Enviar
        </md-button>
      </md-input-container>
      <md-input-container>
        <md-button type="submit" ng-click="friendsController.getSubmit()">Consultar</md-button>
      </md-input-container>
    </form>
      
    <ul class="panel callout radius">
      <li ng-repeat="data in friendsController.users">
        <p>Id: {{ data.id }} titulo: {{ data.titulo }} url: {{ data.descripcion }}</p>
      </li>
    </ul>
</div>