
<div ng-controller="toggleMenu" layout="column"  ng-cloak>
  <md-toolbar class="tool md-hue-2" style="background-color: #1EB4DC;">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Dashboard</h2>

      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">
          search
        </md-icon>
      </md-button>

      <md-button class="md-icon-button" aria-label="more">
        <md-icon class="favorite-icon material-icons">
          more_vert
        </md-icon>
      </md-button>
    </div>
    <div>
        <md-button ng-click="toggleLeft()"
          class="md-primary" hide-gt-md>
          Menu
        </md-button>
        <md-button ng-click="dashboard.loadList()"
          class="md-primary"
        >
          Reload List
        </md-button>
    </div>
  </md-toolbar>
</div>

<div layout="column" flex layout-fill ng-cloak>  
    <md-content style="height: 600px;" md-theme="altTheme">

      <section>
        <md-subheader class="md-warn">Ultimos Mensajes</md-subheader>
        <md-list layout="column" layout-padding>
          <md-list-item class="md-3-line" ng-repeat="dato in datos">
            <img ng-src="../images/mensaje.png" class="md-avatar" alt="{{dato.face}}">
            <div class="md-list-item-text">
              <h2>{{dato.titulo}}</h2>
              <h4>{{dato.descripcion}}</h4>
              <p>
                {{dato.createdAt}}
              </p>
            </div>
            <md-button ng-click="dashboard.destroy(dato.id)" class="md-raised">
              <md-icon class="material-icons">
                delete
              </md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </section>
  
      <section>
        <md-subheader>Editar mensajes</md-subheader>
        <md-list layout="column" layout-padding>
          <md-list-item class="md-3-line" ng-repeat="dato in datos">
            <img ng-src="../images/yeoman.png" class="md-avatar" alt="Mensaje">
            <div class="md-list-item-text">
              <h2>{{dato.titulo}}</h2>
              <h4>{{dato.descripcion}}</h4>
              <p>
                {{dato.createdAt}}
              </p>
            </div>
            <md-button ng-click="dashboard.showAlert(dato, $index)" class="md-raised">
              <md-icon class="material-icons">
                  visibility
              </md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </section>
  
      <section>
        <md-subheader class="md-accent">Archivar mensajes</md-subheader>
        <md-list layout="column" layout-padding>
          <md-list-item class="md-3-line" ng-repeat="dato in datos">
            <img ng-src="../images/yeoman.png" class="md-avatar" alt="">
            <div class="md-list-item-text">
              <h3>{{dato.titulo}}</h3>
              <h4>{{dato.descripcion}}</h4>
              <p>
                {{dato.createdAt}}
              </p>
            </div>
            <md-button ng-click="" class="md-raised">
              <md-icon class="material-icons">
                  check_circle
              </md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </section>
  
    </md-content>
  </div>
    </md-content>
  </div>  

  
  