
<div ng-controller="toggleMenu" layout="column"  ng-cloak>
  <md-toolbar class="tool md-hue-2" style="background-color: #1EB4DC;">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Dashboard</h2>

      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">
          search
        </md-icon>
      </md-button>

      <md-button class="md-icon-button" aria-label="more">
        <md-icon class="favorite-icon material-icons">
          more_vert
        </md-icon>
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Menu
      </md-button>
    </div>
  </md-toolbar>
</div>

<div ng-controller="DashboardCtrl" ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="50" layout="column" class="container">
        <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Card with image</span>
              <span class="md-subhead">Extra Large</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content layout="row" layout-align="space-between">
            <div class="md-media-xl card-media"></div>
  
            <md-card-actions layout="column">
              <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
              </md-button>
            </md-card-actions>
          </md-card-content>
        </md-card>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column">
      </div>
    </md-content>
  </div>  

  
  