
<div ng-controller="toggleMenu" layout="column"  ng-cloak>
  <md-toolbar class="tool md-hue-2" style="background-color: #1EB4DC;">
    <div class="md-toolbar-tools">
      <h2 flex md-truncate>Messages</h2>

      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">
          search
        </md-icon>
      </md-button>

      <md-button class="md-icon-button" aria-label="more">
        <md-icon class="favorite-icon material-icons">
          more_vert
        </md-icon>
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Menu
      </md-button>
    </div>
  </md-toolbar>
</div>

  <div ng-controller="AppCtrl" layout="row" ng-cloak style="height: 300px">
    <style>
        .edgePadding {
          padding-left: 25px;
          padding-right: 25px;
        }
    </style>

    <h4>Seccion de mensajes</h4>
    <div layout="column" layout-align="center start" layout-padding flex>
  
      <div class="dialog-demo-content" layout="column" layout-align="center center" style="width:100%">
        <md-button class="md-primary md-raised edgePadding" ng-click="openFromLeft()" >
          Ver informacion
        </md-button>
      </div>
  
    </div>
  </div>
